body{
    background-color: aquamarine;
}

@media (min-width: 1601px){
    body{
      background-color: seagreen;
    }
  }

  @media (max-width: 1600px){
    body{
      background-color: limegreen;
    }
  }

  @media (max-width: 1200px){
    body{
      background-color: powderblue;
    }
  }
 
  @media (max-width: 480px) and (min-width:319px){
    body{
      background-color: lightsalmon;
    }
  }