body {
  font-family: "DynaPuff", cursive;
  margin: 0;
}

#logo a {
  color: rgb(213, 213, 75);
  font-size: xx-large;
  padding: 10px;
  text-decoration: none; /* This line deletes the underline from the link. */
  text-transform: uppercase; /* This line transforms the all the text to the uppercase. */
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

header {
  display: flex;
  flex-direction: row; /* The direction of this flex is row wise. This has no wrap.*/
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  position: fixed; /* This position lets you have the header go with you as you go down the page. */
  width: 100%;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
  text-decoration: none;
}

.links li {
  margin-left: 20px;
}

.links a {
  text-decoration: none;
  color: rgba(255, 251, 0, 0.87);
  font-size: 20px;
  font-weight: 600;
  padding: 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.links a:hover {
  color: rgb(255, 251, 0);
}

#logo a:hover {
  color: rgb(255, 251, 0);
}

/* .bill li:nth-of-type(1) {
  list-style: none;
}

.bill li:nth-of-type(2) {
  list-style: lower-latin;
  color: rgb(46, 165, 42);
}

.bill li:nth-of-type(1) a {
  text-decoration: none;
  color: rgb(255, 0, 85);
}

.bill li:nth-of-type(2) a {
  color: rgb(17, 0, 255);
} */

footer {
  background: linear-gradient(70deg, rgb(24, 24, 24), rgb(25, 29, 29));
  display: flex;
  justify-content: center;
}

footer li a img {
  height: 80px;
  margin: 30px 50px;
}
